@charset "utf-8";
/*  Diseñada y programada por : Cristian Carrizo */

body{
    margin: 0px;
    font-family: 'Amaranth', sans-serif;
    background: #F5F5F5;
}

body h2{
    text-align: center;
}

.navbar {
    background: #579ec2;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    color: white;
    border-bottom: 5px solid #30789b;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.desktop-menu {
    list-style: none;
    margin: 0px;
    display: flex; 
}

.desktop-menu li {
    padding-bottom: 21px;
    padding-top: 21px;
    transition: all 0.5s;
    margin-left: 10px; 
}

.desktop-menu li:hover {
    box-shadow: inset 0px 100px #486471;
}

.desktop-menu li a {
    padding: 21px;
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 15px #353535;
}

.mobile-menu {
    display: none;
}

/* Mostrar el menú de escritorio en pantallas grandes */
@media (min-width: 768px) {
    .desktop-menu {
        display: flex;
    }
    .mobile-menu {
        display: none;
    }
}

/* Mostrar el menú móvil en pantallas pequeñas */
@media (max-width: 767px) {
    .desktop-menu {
        display: none;
    }
    .mobile-menu {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .mobile-menu a {
        font-size: 24px; /* Aumenta el tamaño de los iconos */
        flex: 1; /* Hace que cada enlace ocupe el mismo espacio */
        text-align: center; /* Centra los iconos */
        padding: 10px 0; /* Agrega padding para hacer los iconos más fáciles de tocar */
    }
}

.footer{
    background: #607D8B;
    color: white;
    text-shadow: 0px 0px 15px #353535;
    border-top: 5px solid #7999A9;
    height: 60px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
    margin-top: 5px;
}
    #dropdownmenu{
    display: none;
    position: fixed;
    background: #486471;
    color: white;
    padding: 15px;
    right: 0px;
    left: 0px;
    top: 60px;
    box-shadow: 0px 5px 20px #6B6B6B;
    overflow-x: auto;
    overflow-y: auto;

    }
.item-title{
    margin: 0px;
    padding: 10px;
    background: rgba(96, 125, 139, 0.67);
}
.item-title a{
    text-decoration: none;
        color:white;
    transition: all 0.32s;
}
.item-title a:hover{
    box-shadow: 0px 4px 0px #000;
        margin-left: 8px;
}

#close_dialog{
    background: url('../images/close.png') no-repeat;
    height: 30px;
    width: 30px;
    position: relative;
    top: -20px;
    right: -5px;
    cursor: pointer;
}
#close_dialog:hover{
    opacity: 0.8;
}


.contact_div{
    margin: 15px;
    background: #ffffff;
    padding: 20px;
    border-radius: 3px;
    max-width: 338px;
    border: 1px solid #C5C5C5;
    box-shadow: 0px 0px 3px #DBDBDB;
    transition: all 1s;
}
.contact_fields{
padding: 5px 10px 5px 10px;
width: 300px;
border-radius: 3px;
border: 1px solid #ececec;
border-bottom: 2px solid #607d8b;
background: transparent;
transition: width 1s;
}
.contact_fields:focus{
border-bottom: 2px solid #00acff;
}
.contact_btn{
    padding: 5px 15px 5px 15px;
    background: rgb(121, 153, 169);
    border: 2px solid #7999A9;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    box-shadow: inset 0px 0px rgba(121, 153, 169, 0.77);
    transition: box-shadow 0.5s;
}
.contact_btn:hover{
    background: rgb(78, 119, 140);
    border: 2px solid rgb(78, 119, 140);
}
.contact_btn:active{
    box-shadow: inset 0px 100px rgba(121, 153, 169, 0.77);
}
.items_area{
    display: inline-block;
}
.item{
    display: inline-block;
    background: #ffffff;
    padding: 10px;
    margin: 1px;
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    margin-bottom: 3px;
    text-align: center;
    transition: all 0.5s;
}
.item:hover{
    background: #fbfbfb;
}
.item p{
    text-align: center;
    max-width: 150px;
    color: #606060;
}
.item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}
.item a{
    background: #607d8b;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    text-align: center;
}
.item a:hover{
    background: #499ac2;
}
.search_app{
    width: 600px;
    margin-bottom: 30px;
    border: 3px solid #efefef;
    border-radius: 30px;
    padding: 10px;
    width: 90%;
    transition: all 1s;
}
.search_app:focus{
    border: 3px solid rgba(96, 125, 139, 0.56);
}
.news_articles{
    display: inline-block;
}
.article{
    display: inline-block;
    max-width: 350px;
    width: 350px;
    background: white;
    padding: 15px;
    margin: 5px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    transition: width 1s;
}
.article p{
    color: #606060;
}
.article a{
    background: #607d8b;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    border: 1px solid #dedede;
}
.article a:hover{
    background: #499ac2;
}
.article h5{
    color: rgb(173, 173, 173);
    font-size: 11px;
    font-family: sans-serif;
}
.article img{
    width: 350px;
    height: 196px;
}
.main_img{
width: 50%;
border-top-style: solid;
border-top-width: 55px;
transition: all 0.3s;
}

#dropdownmenu, #about_dialog_bg, #btn_title {
    display: none;
}

.show {
    display: block;
}


/* =============================== Mobile styles =========================== */
@media only screen and (max-width: 750px) {
/* For mobile phones: */
    .mobile-menu {
        display: flex;
        justify-content: space-around;
    }
    .search_app{
        width:90%;
    }
    .item p{
        display:none;
    }
    .item h2{
        text-align: center;
        font-size:15px;
    }
    .article{
        width: 270px;
    }
    .article img {
        width: 270px;
        height: 170px;
    }
    .main_img{
        width: 80%;
        border-top-style: solid;
        border-top-width: 55px;
    }
    .contact_fields{
        width:235px;
    }
    .contact_div{
        width:250px;
    }
}

/*  Diseñada y programada por : Cristian Carrizo */


.header {
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}


.main_img {
    display: grid;
    align-items: center;
    margin: 0;
}

#main_title {
    text-shadow: 3px 3px 1px rgb(215, 215, 215);
    margin: 2px;
}