@import 'variables';
@import 'mixins';

#navbar {
  background: $secondary-color;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  color: white;
  border-bottom: 5px solid $navbar-border-color;
  float: right;
}
#navbar ul {
  list-style: none;
  margin: 0px;
}
#navbar ul li {
  padding: 21px;
  @include transition($transition);
  float: left;
}
#navbar ul li:hover {
  box-shadow: inset 0px 100px #486471;
}
#navbar ul li a {
  padding: 21px;
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 15px $text-shadow-color;
}
