@import 'variables';
@import 'mixins';

/* =============================== Mobile styles =========================== */
m_navbar {
  display: none;
  background: $footer-background;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  color: white;
  border-bottom: 5px solid $footer-border;
  text-align: center;
}
m_navbar a {
  display: inline-block;
  cursor: pointer;
  padding: 14px;
  color: white;
  text-decoration: none;
  box-shadow: inset 0px 0px #486471;
  font-size: 23px;
  @include transition(box-shadow 0.5s);
}
m_navbar a:hover {
  box-shadow: inset 0px 100px #486471;
}

@media only screen and (max-width: 750px) {
  /* For mobile phones: */
  #navbar {
    display: none;
  }
  #m_navbar {
    display: inline-flex;
    align-items: center;
  }
  .search_app {
    width: 200px;
  }
  .item p {
    display: none;
  }
  .item h2 {
    font-size: 15px;
  }
  .article {
    width: 270px;
  }
  .article img {
    width: 270px;
    height: 170px;
  }
  #main_img {
    width: 280px;
  }
  .contact_fields {
    width: 235px;
  }
  .contact_div {
    width: 250px;
  }
}
