/* Estilos responsivos para diferentes tamaños de pantalla */
@media (max-width: 767px) {
  .menu {
      display: flex;
      align-items: center;
      width: 100%;
      background-color: #579ec2;

      li {
          margin: 10px 0;

          a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              color: white;
              text-decoration: none;
              padding: 10px 0;

              .fas {
                  margin-right: 8px;
              }

              span {
                  display: inline-block;
                  font-size: 16px;
                  flex: 1;
                  text-align: center;
                  padding: 10px 0;
              }
          }
      }
  }

  input.search_app {
      width: 70%;
      align-items: center;
  }

  .item {
      p {
          display: none;
      }

      h2 {
          text-align: center;
          font-size: 15px;
      }
  }

  .article {
      width: 270px;
      
      img {
          width: 120px;
          height: auto;
      }
  }

  .main_img {
      width: 50%;
  }

  .contact_fields {
      width: 235px;
  }

  .contact_div {
      width: 250px;
  }
}




$app-columns: (
  small: 1fr,
  medium: repeat(3, 1fr),
  large: repeat(6, 1fr),
);

.app-container {
  display: grid;
  grid-template-columns: map-get($app-columns, small);
  gap: 1.5rem;
  
  @media (min-width: 768px) {
    grid-template-columns: map-get($app-columns, medium);
  }

  @media (min-width: 992px) {
    grid-template-columns: map-get($app-columns, large);
  }
}

.app-item {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}
