/* Estilos para los artículos de noticias */
.news_articles {
  display: inline-block;

  .article {
      display: inline-block;
      max-width: 350px;
      width: 350px;
      background: white;
      padding: 15px;
      margin: 5px;
      border: 1px solid #DBDBDB;
      border-radius: 3px;
      transition: width 1s;

      p {
          color: #606060;
      }

      a {
          background: #607d8b;
          padding: 5px 10px;
          border-radius: 2px;
          text-decoration: none;
          color: white;
          border: 1px solid #dedede;

          &:hover {
              background: #499ac2;
          }
      }

      h5 {
          color: rgb(173, 173, 173);
          font-size: 11px;
          font-family: sans-serif;
      }

      img {
          width: 140px;
          height: auto;
      }
  }
}
