@charset "UTF-8";

/* Variables */
$font-family: 'Amaranth', sans-serif;
$background-color: #F5F5F5;
$primary-color: #3479AB;
$secondary-color: #579ec2;
$navbar-border-color: #30789b;
$footer-background: #607D8B;
$footer-border: #7999A9;
$dialog-background: #007C96;
$dialog-border: #00B8DE;
$hover-shadow: 1px 1px 20px #828282;
$text-shadow-color: #353535;
$border-radius: 4px;
$transition: all 0.5s;
$hover-color: #0389a5;
$item-background: #ffffff;
$item-border: 1px solid #F0F0F0;
$item-hover-background: #fbfbfb;
$item-color: #606060;
$news-article-background: white;
$news-article-border: 1px solid #DBDBDB;
